.mp4 {
    border-style: solid;
    border-color: rgb(255, 0, 0);
    border-width: 5px;
    border-radius: 5px;
}

.mp4-2 {
    border-style: solid;
    border-color: rgb(0, 255, 0);
    border-width: 5px;
    border-radius: 5px;
}

.mp4-3 {
    border-style: solid;
    border-color: rgb(0, 191, 255);
    border-width: 5px;
    border-radius: 5px;
}

.bold {
    font-weight: bold;
}